@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 355px;
    height: 440px;
    margin: auto;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }
}