@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 355px;
    height: 440px;
    margin: 100px auto;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;

        p {
            margin: 20px 0;
            span {
                padding: 10px 15px;
                background-color: #6A8858;
                border-radius: 50px;
                color: white;
                font-weight: 300;
            }
        }
    }
}