* {
    margin: 0;
    padding: 0;
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 355px;
    height: 440px;
    margin: auto;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }
}