@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.menu {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    width: 897px;
    height: 337px;
    padding-left: 25px;
    padding-top: 25px;

    h1 {
        font-size: xxx-large;
        color: #1C153D;
    }

    hr {
        border-color: rgba($color: #000000, $alpha: 0.02);
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 25px;
    }

    .menu-lists {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

        .menu-list {
            flex-grow: 2;

            ul {
                list-style-type: none;

                li {
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &:first-child {
                        background-color: #FFD400;
                        border-radius: 5px;
                        border: 2px solid #11053B;
                    }
                }
            }
        }
    
        .menu-category-list {
            margin: 0 40px 0 155px;
            
            ul {
                list-style-type: none;

                li {
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
}

.github {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    width: 922px;
    height: 337px;
}