* {
    margin: 0;
    padding: 0;
}

// body {
    
// }

.menu {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    width: 897px;
    height: 337px;
    padding-left: 20px;
    padding-top: 25px;

    h1 {
        font-size: xxx-large;
    }

    hr {
        border-color: rgba($color: #000000, $alpha: 0.1);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .menu-list {
        ul {
            list-style-type: none;
        }
    }
}

