* {
    margin: 0;
    padding: 0;
}

// body {
    
// }

.menu {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    width: 897px;
    height: 337px;
    padding-left: 20px;
    padding-top: 25px;

    h1 {
        font-size: xxx-large;
        color: #1C153D;
    }

    hr {
        border-color: rgba($color: #000000, $alpha: 0.1);
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .menu-lists {
        display: flex;
        flex-direction: row;

        .menu-list {
            ul {
                list-style-type: none;

                li {
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &:first-child {
                        background-color: #FFD400;
                        border-radius: 5px;
                        border: 1px solid #11053B;
                    }
                }
            }
        }
    
        .menu-category-list {
            
            ul {
                list-style-type: none;
            }
        }
    }
}

